.container_thermal_wrapper {
  .ant-col:first-child {
    margin-right: 10px;
  }
}

.container_thermal_button_wrapper {
  .ant-col {
    margin-right: 10px;
  }

  .anticon {
    display: block;
    margin-bottom: 5px;
  }

  .ant-btn > .anticon + span,
  .ant-btn > span + .anticon {
    margin-left: 0;
  }

  .ant-btn {
    width: 90px;
    height: 90px;
  }

  .anticon svg {
    font-size: 27px;
  }
}
