.container_robot_navigation {
  .container_robot_navigation_top {
    width: 100%;
    text-align: center;
  }

  .container_robot_navigation_middle {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .btn {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
  }
}

.container_robot_sensor_status {
  .container_robot_dots {
    width: 20px;
    height: 20px;
    background: var(--danger);
    margin-right: 10px;
    display: inline-block;
    border-radius: 90px;
  }
}

.container_robot_multipurpose {
}
