.container_face_recognation_image {
  padding: 5px;
  border: 1px solid var(--secondary);
  background-repeat: no-repeat;
  height: 180px;

  div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
